@{
    ViewData["Title"] = "Home Page";
}


<input type="file" id="fileInput" /> <br/>
<button id="uploadButton">Upload</button>

<div id="progress">Upload Progress: 0 %</div>

<script src="~/js/upload.js"></script>